<div id="candidacyList" >
    <div class="popup-box"
         ng-hide="isPopClosed">

        <div class="popup-wrapper">
            <div class="popup-close"
                 ng-click="popClose()">
            <i class="popup-close-icon fa fa-times fa-4x"></i>
            </div>
            <div class="pop-content">
                <div class="content-img"></div>
                <div class="content-title">
                    <span class="title-text">
                        히든 카드
                    </span>
                </div>
                <div class="content-article">
                    <p class="article-text">
                        불라불라불라불라불라
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="reverse-wrapper">
        <div class="text-box">
            <span class="text-hidden">카드 전체 숨김</span>
            <div class="toggle-box">
                <label><input ng-click="changeStatus()" type="checkbox" class="ios-switch blue bigswitch" ng-model="cardChecked" ng-checked="cardChecked"/><div><div></div></div></label>
            </div>
            <span class="text-reveal">카드 전체 공개</span>
        </div>
    </div>
    <div class="candidacy_list_container">
        <div class="candidacy_box" ng-repeat="candidacy in candidacise" ng-class="{reverse : candidacy.isReverse}">
            <div class="card-wrapper">
                <div class="front-card" ng-click="candidacy.isReverse = true">
                    <div class="card_box secret_info">
                        <div class="anonymous-img">
                        </div>
                        <div class="keyword"
                             ng-repeat="keyword in candidacy.candidacyKeywordList"
                             ng-bind="keyword.keywordName"
                        ></div>
                    </div>
                    <div class="detail_page" ng-click="onClickDetail(candidacy)">
                        <span>후보자 자세히 살표보기</span>
                    </div>
                </div>
                <div class="back-card" ng-click="candidacy.isReverse = false">
                    <div class="card_box public_info">
                        <div class="head-img">
                        </div>
                        <div class="profile-box">
                            <img class="profile-img" ng-src="http://info.nec.go.kr/{{candidacy.candidacyImg}}" alt="">
                            <div class="name" ng-bind="candidacy.name"></div>
                            <div class="career_box">
                                <div class="current" ng-bind="candidacy.experienceArr[1]"></div>
                                <div class="previous" ng-bind="candidacy.experienceArr[0]"></div>
                            </div>
                        </div>
                    </div>
                    <div class="detail_page" ng-click="onClickDetail(candidacy)">
                        <span>후보자 자세히 살표보기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

