<div id="candidacyDetail">
    <div class="head-box"></div>
    <div class="profile-box">
        <img class="profile-img" ng-src="http://info.nec.go.kr/{{currentCandidacy.candidacyImg}}" alt="" class="profile_picture">
        <div class="detail-text-box">
            <span class="name" ng-bind="currentCandidacy.name"></span>
            <span class="bar"> | </span>
            <span class="party" ng-bind="currentCandidacy.party"></span>
        </div>
        <div class="career_box">
            <div class="current" ng-bind="currentCandidacy.experienceArr[1]"></div>
            <div class="previous" ng-bind="currentCandidacy.experienceArr[0]"></div>
        </div>
        <span class="pledge"></span>
    </div>
    <div class="detail-content">
        content
    </div>
    <div class="btn_right" ng-click="changeToRight()">오른쪽</div>
    <div class="bth_left" ng-click="changeToLeft()">왼쪽</div>
</div>
