<div id="selectDistrict">
    <div class="home-select-box">
        <input class="nav-search-bar " type="text" ng-model="dataModel.townNameModel"
               placeholder="동, 읍, 리를 입력해주세요! "
               ng-focus="focusInput()"
               ng-cloak
        >
        <div class="nav-search-icon" ng-hide="isSelectBoxOpen" ><img src="/public/static/img/search_icon.png" alt="찾기"></div>
        <div class="nav-search-icon" ng-show="isSelectBoxOpen" ng-click="selectBoxClose()"><img class="ㄷ" src="/public/static/img/cancel_black.png" alt="취소"> </div>
        <div class="select-box nav-town-list" ng-class="{'select-box-open' : isSelectBoxOpen}" >
            <div class="city-box" ng-show="(city.townList | filter: {townName : dataModel.townNameModel}).length" ng-repeat="city in cityList | filter:modelLengthTwo()">
                <div class="city-name" >
                    <span ng-bind="city.cityName"></span>
                </div>
                <ul class="town-list" >
                    <li class="town-name"
                        ng-repeat="town in city.townList"
                        ng-click="selectAndComplete(town)"
                        ng-show="([town] | filter:{townName : dataModel.townNameModel}).length"
                    >
                        <span class="town-text" ng-bind="town.townNameArr[1]"></span>
                        <br>
                        <span class="city-text" ng-bind="town.townNameArr[0]"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app-intro"
         ng-swipe-left="swipeLeft()"
         ng-swipe-right="swipeRight()">

    </div>
</div>

