<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>webint contact</title>
    <style>
        html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        min-height: 640px;
        max-width: 767px;
        overflow: hidden;
        }
        #webing-contact{
            height: 100%;
            background-color: #4C8BEF;
        }
    </style>
</head>
<body>
<div id="webing-contact">
위빙 컨택트11’

    <form action="http://likms.assembly.go.kr/bill/jsp/BillSearchResult.jsp" method="post" accept-charset="euc-kr">
        <input type="hidden" name="PROPOSER" value="심상정">
        <button type="submit"> s눌러봐@!@</button>

    </form>

</div>
</body>
</html>