html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 640px;
    overflow-x: hidden;
}


/*index page*/
.action_bar{
    height: 10%;
    background-color: #ddffdd;
}
.action_bar:after {
    content:"";
    display:block;
    clear:both;
}
.btn_back{
    float: left;
}
.side_menu_open{
    float: right;
}
.btn_side_menu{
position: absolute;
    height: 100%;
    width:40%;
    left: 100%;
    background-color: #ddffdd;
    transition: left 1s;
}
.open_menu{
    left: 60%;
}

/*end*/



/*home page*/
.view-container{
    overflow: scroll;
    height: 90%;
}

.app-container{
    height: 100%;
    overflow-y: hidden;
}

.input-district:focus{
    outline: none !important;
}



#selectDistrict, #webing-intro, #webing-contact{
    height: 100%;
}
.app-intro{
    background-color: #FFF1ED;
    height: 70%;
}
#webing-intro{
    background-color: #767FED;
}
#webing-contact{
    background-color: #4C8BEF;
}
.input-box .input-district{
    float: left;
}
.input-box .search{
    float: right;
}
.select-box {
}
.input-box{
    height:20%;
}
.input-box:after {
    content:"";
    display:block;
    clear:both;
}
.district-list{
    font-size: 150%;
    height: 150px;
    width: 250px;
    overflow: auto;
    padding-right: 17px;
}
::-webkit-scrollbar {
    display: none;
}
.district-name:hover{
    color: red;
}
/*end*/

/*candidacyList*/

img{
    height: 200px;
}

.card_box{
    border: 1px solid black;
    height: 300px;
}




/* 토글*/

.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 58px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 60px;
}
