html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 576px;
    background-color: #f2f2f3;
    overflow: hidden;
    -moz-overflow: hidden;
}
body ::-webkit-scrollbar {
    display: none;
}

a, a:visited, a:hover {
    text-decoration: none !important;
    color: inherit;
}
li{
    list-style-type: none;
}

button:focus {
    outline: 0;
    box-shadow: none;
}
button { border:0;}
.fa-2x {
    font-size: 1.5em;

}
.fa-3x {
    font-size: 2em;
}
.btn-menu a:visited{
    color: white;
}
.btn-menu a:hover{
    color: white;
}
.app-container{
    height: 100%;
    overflow: hidden;
    -moz-overflow: hidden;
}
.text-box{
    display: inline-block;
    height: 100%;
}
.text-box span{
    display: inline-block;
    position: relative;
    align-items: center;
    top: 50%;
    font-family: 'Jeju Gothic', serif;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/*index page*/
.action-bar{
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,1);
    height: 58px;
}
input{
    border: none;
    background-color:transparent;
}
input:focus{
    outline: none;
}

.action-bar:after {
    content:"";
    display:block;
    clear:both;
}
.search-open{
    z-index: 6;
}
.dummy{
    position: relative;
    height: 10%;
    min-height: 64px;
    width: 100%;
    z-index: 0;
}
.dummy-home{
    background-color: white;
}

.side-menu-open{
    position: relative;
    float: right;
    height: 20px;
    padding: 16px;
}
.webing-logo{
    position: relative;
    float: left;
    height: 20px;
    padding: 16px;
}

.btn-back{
    position: absolute;
    float: left;
    height: 20px;
    padding: 10px 20px 15px 20px;
}
.btn-side-menu{
    position: absolute;
    height: 100%;
    top: 0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    padding-top: 15%;
    transition: left 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    text-align: center;
    opacity: 0;
    font-family: 'Spoqa Han Sans';
}
.btn-menu{
    margin: 10%;
}
.btn-close {
    color: white;
    float: right;
}
.btn-close {
    position: absolute;
    color: white;
    top:20px;
    left: 86%;
}
.btn-menu a{
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.14px;
    line-height: 57px;
}
.search-town{
    position: absolute;
    width: 65%;
    height: 100%;
    left: 15%;
    top: 0;
}
.open-menu{
    opacity: 1;
    z-index: 5;
    display: block;
}

.select-town .dummy-box{
    height: 15%;
    min-height: 90px;
}
.select-town{
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 576px;
    top: 110%;
    background-color: #777EEB;
    z-index: 1;
}
.select-town-open{
    top: 0;
}
.select-wrapper{
    position: relative;
    padding-left: 1.6%;
    padding-right: 1.6%;
    left: 7.7%;
    height: 13.7%;
    width: 82.8%;
    background-color: #ffffff;
    border-radius: 5px;
    min-height: 80px;
}
.cancel-icon, .search-icon{
    float: right;
}
.select-inner:after{
    content: "";
    display: block;
    clear: both;
}
.explain-box{
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0.5;
    font-size: 120%;
    text-align: center;
    border-bottom: 1px solid grey;
}
.town-select-box{
    height: 60%;
    padding: 0 7px 0 7px;
}
.explain-box{
    padding-right: 7px;
}
.search-icon{
    margin-top: 5%;
}
.input-town{
    font-size:150%;
    width: 90%;
    height: 100%;
}
.nav-search-bar{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
}
.nav-town-list{
    position: relative;
    top:100%;
    height: 0;
}
.nav-search-icon{
    position: absolute;
    top: 20px;
    left: 90%;
}
.select-box-open{
    height: 300px;
}
.select-box{
    position: relative;
    max-height: 300px;
    width: 82%;
    left: 9%;
    border-radius: 5px;
    overflow: scroll;
}
.city-box{
    border: 1px solid #ECEDEE;
    position: relative;
}
.town-list{
    position: relative;
}


.town-name{
    background-color: #ffffff;
    height: 25%;
    padding: 5%;
    line-height: 120%;
    font-size: 110%;
}

.town-name:not(:last-child){
    border-bottom: 1px solid #ECEDEE;
}

.town-name span:hover{
    cursor:pointer
}
.city-name{
    font-size: 100%;
    line-height: 200%;
    padding-left: 2%;
    font-family: 'Jeju Gothic';
    background: #f2f2f2;
    color: #B1B1B3;
    padding-top: 5px;
    padding-bottom: 5px;
}
.city-text{
    color: #ECEDEE;
}
::-webkit-scrollbar {
    display: none;
}

/*end*/



/*home page*/

.home-select-box{
    position: absolute;
    height: 7%;
    width: 85%;
    top: 5%;
    left: 7.5%;
    z-index: 3;
    background-color: white;
}

.view-container{
    position: relative;
    top: 59px;
    height: 100%;
    min-height: 576px;
}

#selectDistrict{
    position: relative;
    height: 100%;
    min-height: 576px;
    text-align: center;
}
.home-logo-container {
    left: 5%;
    display: inline-block;
    max-width: 400px;
}
.home-logo-container img{
    position: relative;
    width: 68%;
    top: 10%;
    padding: 12%;
    margin-right: auto;
    margin-left: auto;
}
.select-region-container{
    height: 30%;
}

.select-text-wrapper {
    line-height: 1.5em;
    height: 30%;
}
.title-box{
    font-size: 1.2em;
}
.hint-box {
    font-size: 0.8em;
}

span.tip {
    color: blue;
    font-weight: 700;
}

.select-button-wrapper {
    width: 90%;
    height: 50%;
    padding-top: 10px;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
}

.button-box {
    height: 50%;
}
.button-box:after {
    content: '';
    display: block;
    clear: both;
}
.btn-select:not(.search) {
    background-color: white;
}
.btn-select{
    position: relative;
    float: left;
    height: 80%;
}
.top-box .btn-select {
    width: 48%;
}
.btn-select.city{
    margin-right: 3%;
}
.btn-select.town {
    width: 75%;
    height: 80%;
    margin-right: 3%;
}
.btn-select.search {
    height: 80%;
    background-color: #B8B8B8;
    width: 21%;
}

.btn-select.selected-region {
    background-color: #5580EF;
}
.btn-select.search img{
    width: 25%;
}
.select-inner-box {
    width: 100%;
    max-width: 768px;
    height: 100%;
    display: inline-block;
}
.text-outer{
    position: absolute;
    width: 100%;
    color: #ADACAC;
    font-size: 0.9em;
}
.btn-select .text-outer {
    top: calc(50% - 0.5em);
}
#my-region-popup, #select-list-popup,#candidacy-list-popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -60px;
    background-color: RGBA(0, 0, 0, 0.8);
    z-index: 7;
    text-align: center;
}
.popup-container {
    position: relative;
    height: 80%;
    width: 80%;
    max-width: 360px;
    top:10%;
    display: inline-block;
    background-color: white;
    font-size: 0.95em;
    border-radius: 10px;
}

.region-list{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-size: 1.5em;
}
.item-box {
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #bdbdbd;
}
.region-list .text-outer {
    top: calc(50% - 0.5em);
}

#my-region-popup .popup-container{
    height: 70%;
    top:15%;
}
.my-region-inner {
    height: 100%;
    width: 100%;
}
.popup-content-box {
    position: relative;
    width: 100%;
    height: 90%;
    top: 10%;
}
.popup-title h3 {
    font-size: 1.2em;
}

.popup-info{
    margin-top: 15px;
}
.popup-info p {
    font-size: 0.7em;
    line-height: 1.3em;
}
.popup-img{
    margin-top: 20px;
}
.popup-img img{
    width: 80%;
}

.btn-check-region {
    margin-top: 15px;
    height: 10%;
    width: 100%;
}

.btn-check-region button{
    position: relative;
    width: 50%;
    height: 90%;
    background-color: #20A9FA;
    color: white;
}
/*end*/

/* webingIntro*/
#webing-intro{
    background-color: #767FED;
}
/* end */

/* webingContact*/
#webing-contact{
    background-color: #4C8BEF;
}
/* end */

/*candidacyList*/

.candidacy_box:nth-child(1n) .secret_info{
    background-image: url("/public/static/img/hidden_background-01.png");
    background-size: 100% 100%;
}
.candidacy_box:nth-child(2n) .secret_info{
    background-image: url("/public/static/img/hidden_background-02.png");
    background-size: 100% 100%;
}
.candidacy_box:nth-child(3n) .secret_info{
    background-image: url("/public/static/img/hidden_background-03.png");
    background-size: 100% 100%;
}
.candidacy_box:nth-child(4n) .secret_info{
    background-image: url("/public/static/img/hidden_background-04.png");
    background-size: 100% 100%;
}

.candidacy_box:nth-child(1n) .public_info .head-img{
    background-image: url("/public/static/img/reveal_background-01.png");
    background-size: 100% 100%;
}
.candidacy_box:nth-child(2n) .public_info .head-img{
    background-image: url("/public/static/img/reveal_background-02.png");
    background-size: 100% 100%;
}
.candidacy_box:nth-child(3n) .public_info .head-img{
    background-image: url("/public/static/img/reveal_background-03.png");
    background-size: 100% 100%;
}
.candidacy_box:nth-child(4n) .public_info .head-img{
    background-image: url("/public/static/img/reveal_background-04.png");
    background-size: 100% 100%;
}

.candidacy_box:nth-child(1n) .front-card .detail_page  span{
    color: #4B8AEF
}
.candidacy_box:nth-child(2n) .front-card .detail_page span{
    color: #00CBE6;
}
.candidacy_box:nth-child(3n) .front-card .detail_page span{
    color: #8086BC;
}
.candidacy_box:nth-child(4n) .front-card .detail_page span{
    color: #01AFF9;
}

.candidacy_box:nth-child(1n) .back-card .detail_page  span{
    background-color: #4B8AEF
}
.candidacy_box:nth-child(2n) .back-card .detail_page span{
    background-color: #00CBE6;
}
.candidacy_box:nth-child(3n) .back-card .detail_page span{
    background-color: #8086BC;
}
.candidacy_box:nth-child(4n) .back-card .detail_page span{
    background-color: #01AFF9;
}

#candidacy-list-popup .content-img img{
    position: relative;
    width: 90%;
}
.popup-content{
    padding: 5%;
    width: 90%;
}
#candidacy-list-popup .content-title{
    padding: 10px;
}
.popup-close-icon{
    float: right;
    margin: 5%;
}
.btn-check-content{
    height: 50px;
}
.popup-close:after{
    display: block;
    content: '';
    clear: both;
}
.context-img{
    height: 150px;
    width: 150px;
    background-color: aqua;
}

.btn-check-content{
    height: 50px;
    width: 100%;
    margin-top: 15px;
}
.btn-check-content .text-wrapper{
    position: relative;
    height: 100%;
    width: 70%;
    left: 15%;
    color: white;
}
.text-check{
    background-color: #1EABFB;
}
.text-start{
    background-color: #F84045;
}
.btn-check-content .text-wrapper span {
    font-size: 2em;
    line-height: 50px;
}
.content-article p{
    font-size: 0.8em;
    line-height: 1.3em;
}
#candidacyList{
    height: 100%;
    width: 100%;
    min-height: 576px;
}
.dummy-candidacy{
    height: 60px;
}

.reverse-wrapper{
    position: relative;
    width: 100%;
    clear: both;
    text-align: center;
    height: 60px;
}

span.text-hidden {
    left: 3%;
}
span.text-reveal {
    right: 3%;
}
.toggle-box, .text-hidden, .text-reveal{
    float: left;
}

.candidacy_list_container {
    width: 100%;
    overflow: scroll;
    position: relative;
    height: 100%;
}
.candidacy_box{
    height: 72%;
    width: 100%;
}
.card-wrapper{
    position: relative;
    transition: 0.6s;
    height: 90%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    background: transparent;
    border:0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.10);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 350px;
}
.reverse .card-wrapper{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}



.front-card , .back-card{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}

.front-card {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back-card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    background: white;

}
.secret_info{
    height: 85%;
    overflow: hidden;
    -moz-overflow: hidden;
    line-height: 150%;
    color: #ffffff;
    overflow: hidden;
    -moz-overflow: hidden;
    font-size: 140%;
    font-family: 'Spoqa Han Sans';
}
.secret_info+.detail_page {
    height: 15%;
    background-color: white;
}
.public_info{
    height: 90%;
    width: 100%;
}
.WHITELAYER-img{
    position:absolute;
    right:0;
    top:0;
}
.anonymous-img{
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: transparent;
}
.front-card .detail_page span{
    display: inline-block;
    color: #09B7EA;
    padding-top: 7%;
    font-family: 'Spoqa Han Sans';
    font-size: 1.2em;
}
.head-img{
    background-color: #4b8aef;
    height: 23%;
    width: 100%;
}
.back-card .detail_page{
    position: relative;
    top: -10%;
}
.back-card .detail_page span{
    display: inline-block;
    background-color: #4b8aef;
    color: white;
    width: 70%;
    font-family: 'Spoqa Han Sans';
    font-weight:400;
    padding: 20px 10px 20px 20px;
    font-size: 1em;
}

.name{
    font-weight: 600;
    letter-spacing: 1.71px;
    /*line-height: 58px;*/
    font-size: 1.5em;
    font-family: 'Spoqa Han Sans';
}

.back-card .current{
    color: #9b9b9b;
    letter-spacing: 0.99px;
    line-height: 20px;
    font-size: 1em;
    font-family: 'Spoqa Han Sans';
}

.career_box {
    margin-top: 13px;
    color:#b5b5b5;
}

.current {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    font-family: 'Spoqa Han Sans';
    line-height: 22px;
}
.back-card .previous{
    line-height: 33px;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: 'Spoqa Han Sans';
    color:#9b9b9b;
}
.previous {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    font-family: 'Spoqa Han Sans';
    line-height: 22px;
}

.party {
    font-family: 'Spoqa Han Sans';
    font-size: 1.5em;
    letter-spacing: 1.71px;
    line-height: 58px;
    margin-bottom: 15px;
    font-weight: 600;
}
.back-card .pledge{
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 700;
    line-height: 51px;
}
.profile-box{
    height: 25%;
    position: relative;
    text-align: center;
    background-color: white;
}

.card-profile {
    float: top;
    position: absolute;
    z-index: 5;
    top: 57px;
    left: 38%;
}

.profile-img{
    position: relative;
    border-radius: 100%;
    top: -43px;
    height: 90px;
    width: 90px;
    border: 3px solid #f2f2f2;
}
/*toggle */

/*candidacyDetailPage*/
#candidacyDetail{
    position: relative;
    overflow-x: hidden;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    transition: top 0.2s;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    background: white;
    margin-top: -1px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}
#candidacyDetail .profile-box .dummy {
    border-radius: 0 0 100% 100%;
    width: 120%;
    left: -10%;
}
#candidacyDetail.menu-invisible {
    top:-10%;
}
#candidacyDetail .head-box{
    position: relative;
    height: 20%;
    width: 120%;
    background-color: #4b8aef;
    left: -10%;
    border-radius: 0 0 50% 50%;
}
#candidacyDetail .profile-box{
    height: 222px;
}

.detail-content-container{
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
    clear: both;
    font-size: 75%;
    top: -5px;
    max-width: 650px;
    font-family: 'Spoqa Han Sans';
}

span.sub-title {
    font-size: 1.2em;
    font-color: #f2f2f2;
    color: #5F5F5F;
    font-weight: 400;
    font-family: 'Spoqa Han Sans';
}

span.sub-title-source{
    font-size: 0.8em;
    float: right;
    color: #5F5F5F;
    font-weight: 400;
    font-family: 'Spoqa Han Sans';
}

.sub-title-source a{
    font-weight: bold;
}

.content-fix .detail-content-container{
    overflow: hidden;
    position: fixed;
    top: 0;
}
.content-fix .course-content, .content-fix .pledge-content{
    overflow: scroll;
}

.detail-text-box{
    line-height: 58px;
    font-size: 1em;
    letter-spacing: 1.9px;
}

span.bar {
    font-weight: 700;
    font-size: 1.5em;
}

.detail-text-box-position{
    position: absolute;
    top: 121px;
    width: 100%;
}

.detail-text-box-center{
    text-align:center;
}


.detail-page{
    color: black;
}

.detail-page:focus{
    color: black;
}
.detail-page::-webkit-input-placeholder {
    color: #bdbdbd; !important;
}

.detail-page:-moz-placeholder { /* Firefox 18- */
    color: #bdbdbd; !important;
}

.detail-page::-moz-placeholder {  /* Firefox 19+ */
    color: #bdbdbd; !important;
}

.detail-page:-ms-input-placeholder {
    color: #bdbdbd; !important;
}
.detail-tab-box{
    height: 60px;
    max-width: 650px;
}

.content-activity {
    max-width: 650px;
}
.detail-tab-box label{
    display: inline-block;
    color: #4a4a4a;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.09px;
    width: 100%;
    line-height: 41px;
    top: 12%;
}
.detail-tab-box:after{
    display: block;
    content: '';
    clear: both;
}
.menu-box{
    height: 100%;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 60px;
}
.menu-box label{
    position: relative;
    margin-top: -1.5em;
}
.detail-tab-box input{
    display: none;
}
.detail-tab-box input:checked + label{
    color: #4a90e2;
    border-bottom: 4px solid #4b8aef;
}
.detail-content-box{
    border-top: 1px solid #d7d7d7;
    background-color: white;

}
.pledge-content, .course-content{
    position: absolute;
    height: 100%;
    width: 100%;
}

.pledge-content .title-left{
    display: inline-block;
    width: 90%;
    float: left;
}

.pledge-content .title-left .pledge-title{
    display: inline-block;
    float: left;
    width: 80%;
    margin-top: 8px;
}
.pledge-content .title-left .pledge-title span {
    color: #4a4a4a;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 25px;
}
.pledge-content .title-left .content-number{
    margin: 0 10px 0 10px;
    float: left;
}
.pledge-content .title-right{
    display: inline-block;
    width: 10%;
    margin-top: 0.75em;
    clear: both;
}

.pledge-content .title-right label {
    font-size: 1.8em;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
}
.pledge-content .title-right .folding-status{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);;
    -o-transform: rotate(180deg);;
    transform: rotate(180deg);
}

.pledge-content .disabled-input{
    color: #E0E0E0; !important;
}

.pledge-wrapper {
    border-bottom: 1px solid #f2f2f2;
}

.pledge-box {
    margin-bottom: 13px;
}

.pledge-box p{
    position: relative;
    width: 80%;
    max-height: 2000px;
    line-height: 1.5em;
    font-family: 'Spoqa Han Sans';
    font-weight: 200;
    font-size: 1em;
    left: 29px;
}
.folding-pledge .pledge-box p{
    overflow:hidden;
    max-height: calc(1.5em * 2);
    transition: max-height 0.5s;
}
.btn-long-folding{
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    font-size: 12px;
    padding-top: 12px;
    max-width: 650px;
}
.content-number{
    display: inline-block;
    margin: 10px;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 39px;
}
.content-title{
    color: #4a4a4a;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.09px;
    line-height: 25px;
}

.content-title-source{
    float: right;
    margin: 10px;
    line-height: 39px;
    font-size: 0.9em;
}

.content-title-source a{
    font-weight: bold;
}

.news-list-wrapper .news p {
    position: relative;
    width: 80%;
    left: 7%;
    line-height: 1.5em;
    font-family: 'Spoqa Han Sans';
    font-weight: 200;
    font-size: 1em;
}

.pledge-content .title-wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.title-wrapper {
    margin-left: 5px;
    max-width: 650px;
}

.pledge-container{
    height: 101%;
    overflow: scroll;
}
.information-no-data{
    text-align: center;
}

.info-text{
    position: relative;
    width: 80%;
    background-color: #4b8aef;
    border-radius: 10px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
}
.info-detail{
    position: relative;
    font-size: 1em;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 1.3em;
    width:90%;
    left:7%

}
.content-wrapper{
    position: relative;
}
.info-text span{
    display: inline-block;
    margin: 15px;
    color: white;
    letter-spacing: 0.09px;
    line-height: 20px;
    font-size: 1.3em;
    font-weight: 100;
}
.activity-wrapper{
    position: relative;
    width: 80%;
    left: 10%;
    margin-bottom: 20px;
}

.rate-wrapper{
    position: relative;
    background-color: #4b8aef;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
}

.rate-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.first-card-inner {
    background-color: #3E77D0;
}
.second-card-inner {
    background-color: #1EAABE;
}
.third-card-inner {
    background-color: #566BBB;
}
.fourth-card-inner {
    background-color: #1489C9;
}

.rate-text{
    display: inline-block;
    position: relative;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}
.rate-text span{
    color: white;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.09px;
    line-height: 39px;
}

.rate-text, .rate-bar{
    float: left;
}
.rate-bar{
    line-height: 60px;
    width: calc(100% - 85px);
}
.rate-bar progress{
    -webkit-appearance: none;
    appearance: none;
    line-height: 60px;
    left: 10%;
    width: 80%;
    position: relative;
}
.rate-bar progress::-webkit-progress-value {
    background-color: white;
    border-radius: 10px 0 0 10px;

}
progress::-webkit-progress-bar {
    border-radius: 10px;
}

.rate-bar .first-card-progress::-webkit-progress-bar {
    background-color: #3E77D0;
}
.rate-bar .second-card-progress::-webkit-progress-bar {
    background-color: #1EAABE;
}
.rate-bar .third-card-progress::-webkit-progress-bar {
    background-color: #566BBB;
}
.rate-bar .fourth-card-progress::-webkit-progress-bar {
    background-color: #1489C9;
}
.content-more {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.07px;
    line-height: 8px;
    margin-bottom: 15px;
}

.content-more .more-arrow{
    margin: 10px 0 10px 0;
}
.keywords-wrapper{
    position: relative;
    background-color: #4b8aef;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
.keywords-box{
    width: 100%;
    color: white;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.07px;
    line-height: 29px;
    overflow: hidden;
    -moz-overflow: hidden;
}
.bill-keyword-text{
    float: left;
    position: relative;
    width: calc(33% - 10px);
    left: 1%;
    margin: 5px;
    color: white;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 39px;
}
.bill-detail-link{
    color: white;
    font-size: 1.1em;
    letter-spacing: 0.07px;
    line-height: 29px;
    font-weight: 200;
    padding:5px;
}

.reverse-arrow{
    transform: rotate(180deg);
}

.content-news{
    position: relative;
    height: 100%;
    width: 100%;
}

.btn-right, .bth-left{
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #dcdada;
    color: #ffffff;
    opacity: 0.5;
    border-radius: 100%;
    text-align: center;
    line-height: 75px;
    top: 70px;
}
.btn-right{
    transform: rotate(90deg);
    right: calc(100% - 75px);
}
.bth-left{
    left: calc(100% - 75px);
    transform: rotate(270deg);
}

.news-keywords-wrapper {
    position: relative;
    width: 80%;
    text-align: center;
    left: 32px;
}
.news-keywords-box{
    display: inline-block;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.07px;
    line-height: 29px;
    overflow: hidden;
    -moz-overflow: hidden;
    overflow: hidden;
    max-width: 400px;
}
.news-keyword-text{
    float: left;
    color: white;
    position: relative;
    background-color: #d7d5d7;
    line-height: 39px;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;
    font-weight: 200;
}

.news-radio:checked + .news-keyword-text.first-card-checked {
    background-color: #4B8AEF;
}
.news-radio:checked + .news-keyword-text.second-card-checked {
    background-color: #00CBE6;
}
.news-radio:checked + .news-keyword-text.third-card-checked {
    background-color: #8086BC;
}
.news-radio:checked + .news-keyword-text.fourth-card-checked {
    background-color: #01AFF9;
}

.news-list-wrapper {

}
.news-box {
    border-bottom: 1px solid #f2f2f2;
}
.news-list .title-left:after {
    content: '';
    display: block;
    clear: both;
}
.news-list .title-right {
    display: inline-block;
    width: 10%;
    margin-top: 0.75em;
    clear: both;
}
.news-list .title-right span {
    transform: rotate(270deg);
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
}
.news-list .title-left {
    display: inline-block;
    width: 90%;
    float: left;
}
.news-title {
    display: inline-block;
    width: 80%;
    margin-top: 8px;
    float: left;
}
.news-radio {
    display: none;
}
.news-box .content-number {
    float: left;
    margin: 0 10px 0 10px;
}
.empty-box{
    height: 100px;
}
.first-card-background {
    background-color: #4B8AEF;
}
.second-card-background {
    background-color: #00CBE6;
}
.third-card-background {
    background-color: #8086BC;
}
.fourth-card-background {
    background-color: #01AFF9;
}

.detail-tab-box input:checked + label.first-card-checked {
    color: #4B8AEF;
    border-color: #4B8AEF;
}
.detail-tab-box input:checked + label.second-card-checked {
    color: #00CBE6;
    border-color: #00CBE6;
}
.detail-tab-box input:checked + label.third-card-checked {
    color: #8086BC;
    border-color: #8086BC;
}
.detail-tab-box input:checked + label.fourth-card-checked {
    color: #01AFF9;
    border-color: #01AFF9;
}

.first-card-text {
    color: #4B8AEF;
}
.second-card-text {
    color: #00CBE6;
}
.third-card-text {
    color: #8086BC;
}
.fourth-card-text {
    color: #01AFF9;
}


/* end */

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;	height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
    margin: 15px 1.6em 15px 1.6em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #777eeb;
    border: 1px solid #ecedee;
    box-shadow: inset 0 0 0 10px #777eeb;
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 23px;
    height: 23px;
    margin-top: 1px;
    box-shadow: 0 0 0 1px #a9a9a9;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #777eeb;
}
