


.home-logo-container img {
    position: relative;
    /* height: 90%; */
    padding: 12%;
    margin-right: auto;
    margin-left: auto;
}

.home-logo-container {
    /* width: 100%; */
    /*height: 55%;*/
    left: 5%;
    max-width: 400px;
    /* position: relative; */
    display: inline-block;
}

.select-region-container {
    height: 30%;
    /* padding-top: 20px; */
}

.title-box {
    font-size: 1.2em;
}

span.tip {
    color: blue;
    font-weight: 700;
}

.select-button-wrapper {
    /* position: relative; */
    width: 90%;
    /* left: 5%; */
    height: 50%;
    /* align-self: center; */
    /* padding: 0; */
    /* padding-right: 0; */
    padding-top: 10px;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
}

.top-box .btn-select {
    width: 48%;
}

.btn-select.city {
    margin-right: 3%;
}

.btn-select.town {
    width: 75%;
    height: 80%;
    margin-right: 3%;
}

.btn-select.search {
    width: 21%;
    height: 80%;
    background-color: #B8B8B8;
}

.text-outer {
    position: absolute;
    width: 100%;
    color: #ADACAC;
    font-size: 0.9em;
}

/*상단네비*/
.side-menu-open {
    position: relative;
    /* top: 35%; */
    /* right: 6%; */
    padding: 16px;
    float: right;
    height: 20px;
}

.webing-logo {
    position: relative;
    /* top: 35%; */
    /* left: 7.5%; */
    float: left;
    height: 20px;
    padding: 16px;
}

.action-bar {
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,1);
    height: 58px;
}

.popup-container {
    position: relative;
    height: 80%;
    width: 80%;
    max-width: 360px;
    /* max-height: 400px; */
    top: 10%;
    display: inline-block;
    background-color: white;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* vertical-align: middle; */
    font-size: 0.95em;
    border-radius: 10px;
}

.item-box {
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #bdbdbd;
}

.btn-back {
    position: absolute;
    /* top: 15px; */
    /* left: 6%; */
    float: left;
    height: 20px;
    padding: 10px 20px 15px 20px;
}

.card-wrapper {
    position: relative;
    transition: 0.6s;
    height: 90%;
    /* left: 7.5%; */
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    width: 80%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    max-width: 350px;
    background: transparent;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.10);
}

.name {
    font-weight: 600;
    letter-spacing: 1.71px;
    /* line-height: 0; */
    font-size: 1.5em;
    font-family: 'Spoqa Han Sans';
}

.back-card .detail_page span {
    display: inline-block;
    background-color: #4b8aef;
    color: white;
    width: 70%;
    padding: 20px 10px 20px 20px;
    font-size: 1em;
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
}

.pledge-box p {
    position: relative;
    width: 80%;
    left: 29px;
    max-height: 2000px;
    line-height: 1.5em;
    font-family: 'Spoqa Han Sans';
    font-weight: 200;
    font-size: 1em;
}

.pledge-content .disabled-input {
    color: #E0E0E0;
}

.news-keywords-wrapper {
    position: relative;
    width: 80%;
    left: 32px;
    text-align: center;
}

.news-keywords-box {
    display: inline-block;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.07px;
    line-height: 29px;
    overflow: hidden;
    max-width: 400px;
}

.title-wrapper {
/* margin-left: auto; */
/* margin-right: auto; */
margin-left: 5px;
max-width: 650px;
}

.info-text {
    position: relative;
    /* left: 10%; */
    margin-right: auto;
    width: 80%;
    margin-left: auto;
    background-color: #4b8aef;
    border-radius: 10px;
    height: 50px;
    max-width: 400px;
}

#candidacyDetail {
    position: relative;
    overflow-x: hidden;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    transition: top 0.2s;
    -webkit-transition: top 0.2s;
    -moz-transition: top 0.2s;
    background: white;
    margin-top: -1px;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.detail-tab-box {
    height: 60px;
    max-width: 650px;
}

.content-activity {
    max-width: 650px;
}

.btn-long-folding {
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    font-size: 12px;
    padding-top: 12px;
    max-width: 650px;
}
