<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width,height=device-height,user-scalable=0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <title>index page</title>
    <link rel="stylesheet" href="public/static/css/reset.css">
    <link rel="stylesheet" href="public/static/css/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="public/static/css/css.css">
    <style>

    </style>
</head>
<body ng-app="webingApp" style="background-color: #ffffff">
<div ng-controller="WebingController" class="app-container">
    <div class="action-bar" >
        <img class="webing-logo" src="public/static/img/Group_3.png" ng-if="isPathHome()"/>
        <div class="btn-back ng-hide" ng-click="back()" ng-show="isPathOther()"><i class="fa fa-angle-left fa-3x"></i></div>
        <div class="search-town " ng-if="isPathOther()">
            <input class="nav-search-bar" type="text" ng-model="dataModel.townNameModel"
                   placeholder="{{selectedTown.townNameArr[1]}}"
                   ng-focus="focusInput()"
            >
            <div class="nav-search-icon" ng-click="complete()"><i class="fa fa-search fa-2x"></i></div>
            <div class="select-box nav-town-list" ng-class="{'select-box-open' : isSelectBoxOpen}">
                <div class="city-box" ng-show="(city.townList | filter: dataModel.townNameModel).length" ng-repeat="city in cityList">
                    <div class="city-name" >
                        <span ng-bind="city.cityName"></span>
                    </div>
                    <ul class="town-list" >
                        <li class="town-name"
                            ng-repeat="town in city.townList | filter:{townName : dataModel.townNameModel}"
                            ng-click="selectTown(town,'townNameModelNavBar')"
                        >
                            <span class="town-text" ng-bind="town.townNameArr[1]"></span>
                            <br>
                            <span class="city-text" ng-bind="town.townNameArr[0]"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <img class="side-menu-open" src="public/static/img/Group_2.png" ng-click="menuClassToggle()" />
    </div>
    <div ng-view class="view-container">

    </div>
    <div class="btn-side-menu" ng-class="{'open-menu' : isMenuOpen }">
        <div class="btn-menu" ng-click="goToAnchor('selectDistrict')">a</div>
        <div class="btn-menu" ng-click="goToAnchor('webing-intro')">b</div>
        <div class="btn-menu" ng-click="goToAnchor('webing-contact')">c</div>
    </div>

    <div class="select-town" ng-class="{'select-town-open' : canOpenSelectBox()}">
        <div class="dummy-box"></div>
        <div class="select-wrapper">
            <div class="select-inner explain-box">
                <span class="explain-text">동, 읍, 리를 입력해주세요!</span>
                <div class="cancel-icon" ng-click="searchCancel()"><i class="fa fa-times"></i> </div>
            </div>
            <div class="select-inner town-select-box">
                <input class="input-town" type="text"
                       ng-model="dataModel.townNameModel"
                       placeholder="{{selectedTown.townNameArr[1]}}"
                       ng-focus="focusInput()"
                >
                <div class="search-icon" ng-click="complete()"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <div class="select-box" >
            <div class="city-box" ng-show="(city.townList | filter:dataModel.townNameModel).length" ng-repeat="city in cityList">
                <div class="city-name" >
                    <span ng-bind="city.cityName"></span>
                </div>
                <ul class="town-list" >
                    <li class="town-name"
                        ng-repeat="town in city.townList | filter:{townName : dataModel.townNameModel}"
                        ng-click="selectTown(town, 'townNameModel')"
                    >
                        <span ng-bind="town.townName"></span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


<script src="public/static/node_modules/angular/angular.js"></script>
<script src="public/static/node_modules/angular-route/angular-route.js"></script>
<script src="public/static/js/webingApp.js"></script>
<script src="public/static/js/factory/ApiService.js"></script>
<script src="public/static/js/factory/WebingDataService.js"></script>
<script src="public/static/js/factory/SharedDataService.js"></script>
<script src="public/static/js/controller/CandidacyListController.js"></script>
<script src="public/static/js/controller/HomeController.js"></script>
<script src="public/static/js/controller/CandidacyDetailController.js"></script>
</body>
</html>